body {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    background-color: #008cff;
    color: #000000;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 60, 0);
}
