body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ccc3db;
    color: #3e3e41;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}
