<div class="topnav">
<h1 class="logo"></h1>
<nav>
    <ul>
    <li><a class="active" href="{% url 'homepage' %}">Portoku.id</a></li>
    <li>
        <div class="dropdown">
            <a href="{% url 'markets' %}">Markets
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="#">Cryptocurrencies</a>
                <a href="#">Indonesian Stocks</a>
            </div>
        </div>
    </li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#watchlist">Watchlist</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="#">Welcome, {{user.username}}</a></li>
    {% else %}
        <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>
    {% endif %}
    </ul>
</nav>
</div>
{% comment %} Bootstrap navbar, dynamic --> in small screens menu bar will become a hamburger bar.
In this case, is it possible to have the markets bar have 2 options instead of an additional add? Since in mobile, there is no hover function, thus it is either click Markets to go to markets or to open the dropdown. {% endcomment %}
{% comment %} <nav class="navbar navbar-expand-md">
	<a class="navbar-brand" href="#">Logo</a>
	<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="main-navigation">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
		</ul>
	</div>
</nav> {% endcomment %}