{% extends 'markets/base/base.html' %}

{% load static %}

{% block title %}Portoku.id - {{ coins.name }}{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'markets/styles/crypto-details.css' %}">
{% endblock %}

{% block body %}
    <section>
        <p>Testing with extends function</p>
        <p>Below are the details of {{ coins.name }}</p>
        <p>{{ coins.name }}</p>
        <p>{{ coins.price }}</p>
        <p>{{ coins.description }}</p>
    </section>
{% endblock %}
