{% extends 'markets/base/base.html' %}

{% load static %}

{% block body %}
    <main>
        <section>
            <h1>Welcome to Portoku.id!</h1>
            <p>I am testing the extends function</p>
            <p>Click the links below to be redirected to the respective pages</p>
        </section>
        <section>
            {% for coin_x in coins %}
                <a href="{% url 'crypto-details' coin_x.slug %}">{{ coin_x.name }}</a>
            {% endfor %}
        </section>
    </main>
{% endblock %}