{% extends 'markets/base/base.html' %}

{% load static %}

{% block body %}
    <main>
        <section>
            <h1>Welcome to Portoku.id!</h1>
            <p>Click the links below to be redirected to the respective pages</p>
        </section>
        <section>
            <h1>Crypto</h1>
            {% for coin_x in coins %}
                <a href="{% url 'crypto-details' coin_x.slug %}">{{ coin_x.name }}</a>
            {% endfor %}
        </section>
        <section>
            <h1>Stocks</h1>
            {% for stock_x in stocks %}
                <a href="{% url 'stock-details' stock_x.slug %}">{{ stock_x.name }}</a>
            {% endfor %}
        </section>
    </main>
{% endblock %}