{% extends 'markets/base/base.html' %}

{% load static %}

{% block title %}Cryptocurrencies{% endblock %}

{% block site_css %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <a href="{% url 'crypto' %}" class="btn btn-primary btn-lg btn-block btn-dark" role="button">Crypto</a>
                    <hr class="my-4">
                    {% for coin_x in coins %}
                        <a href="{% url 'crypto-details' coin_x.slug %}">{{ coin_x.name }}</a>
                        <h1></h1>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="jumbotron">
                    <a href="{% url 'stock' %}" class="btn btn-primary btn-lg btn-block btn-dark" role="button">Stocks</a>
                    <hr class="my-4">
                    {% for stock_x in stocks %}
                        <a href="{% url 'stock-details' stock_x.slug %}">{{ stock_x.name }}</a>
                        <h1></h1>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}
