{% extends 'markets/base/base.html' %}

{% load static %}

{% block title %}Cryptocurrencies{% endblock %}

{% block site_css %}
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">   
{% endblock %}

{% block content %}
    <div class = "jumbotron">
    <h1>List of cryptocurrencies</h1>
    <table id="paginationFullNumbers" class="table table-paginate" width="100%">
        <thead>
            <tr>
            <th class="th-sm">Name

            </th>
            <th class="th-sm">Price

            </th>
            <th class="th-sm">Industry

            </th>
            <th class="th-sm">Market Cap

            </th>
            <th class="th-sm">24h %
                
            </tr>
        </thead>
        <tbody>
            {% for i in dummy %}
                <tr>
                    <td>BBRI</td>
                    <td>i</td>
                    <td>Banking</td>
                    <td>$ 1,000,000</td>
                    <td>54%</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name
                </th>
                <th>Price
                </th>
                <th>Industry
                </th>
                <th>Market Cap
                </th>
                <th>24h %
                </th>
            </tr>
        </tfoot>
    </table>
    </div>
    
{% endblock %}

{% block javascript%}
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('.table-paginate').dataTable();
        } );
    </script>
{% endblock %}