{% extends 'markets/base/base.html' %}

{% load static %}

{% block title %}Cryptocurrencies{% endblock %}

{% block site_css %}
{% endblock %}

{% block content %}
    <h1>List of cryptocurrencies</h1>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th class="th-sm">Name

            </th>
            <th class="th-sm">Price

            </th>
            <th class="th-sm">Industry

            </th>
            <th class="th-sm">Market Cap

            </th>
            <th class="th-sm">24h %
                
            </tr>
        </thead>
        <tbody>
            {% for stock_x in stocks %}
                <tr>
                    <td>{{ stock_x.name }}</td>
                    <td>{{ stock_x.price }}</td>
                    <td>Banking</td>
                    <td>$ 1,000,000</td>
                    <td>54%</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name
                </th>
                <th>Price
                </th>
                <th>Industry
                </th>
                <th>Market Cap
                </th>
                <th>24h %
                </th>
            </tr>
        </tfoot>
    </table>
    
{% endblock %}

{% block javascript%}
    <script src="{% static 'markets/scripts/stock-view.js' %}"></script>
{% endblock %}